<?xml version="1.0" encoding="utf8"?>
<launch>
    <node name="astra_ros" launch-prefix="time" pkg="astra_viewer" type="astra_viewer" output="screen">
        <param name="streams" value="color" />
        <param name="height" value="480" />
        <param name="width" value="640" />
        <param name="color/image" value="true" />
        <param name="color/pointcloud" value="true" />
        <param name="color/enable_mirroring" value="true" />
        <param name="depth/enable_mirroring" value="true" />
    </node>
    <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d '$(find astra_viewer)/launch/rviz_configs/color_views.rviz'" />
</launch>